* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;800&display=swap');

$colorPattern: black;
$colorHabits: #8B5CF6;
$colorBorderButtons: #6D28D9;
$fonte: 'Inter', sans-serif;